---
let title = 'Sunnyside Agency';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />


	
</head>
<body>
	<main>
		
		<h1>Sunnyside Agency Landing page</h1>


	</main>
</body>
</html>
