---
import Layout from "../layouts/Layout.astro";

let title = "Astro Portfolio W52s #6";
let description = "Astro Portfolio W52s #6";
const permalink = Astro.site.href;
let canonicalURL = Astro.request.canonicalURL;
---

<Layout {title} {description} {permalink} current="index" {canonicalURL}>
  <main id="main-content" aria-label="main">
    <h1 class="h1 text-dark">Sunnyside</h1>
  </main>
</Layout>
