---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Projects from "../components/Projects.astro";
import Testimonials from "../components/Testimonials.astro";
import Gallery from "../components/Gallery.astro";

let title = "Astro Portfolio W52s #6";
let description = "Astro Portfolio W52s #6";
const permalink = Astro.site.href;
let canonicalURL = Astro.request.canonicalURL;
---

<Layout {title} {description} {permalink} current="index" {canonicalURL}>
  <main >
    <Hero />
    <Features
      image="image-transform"
      color="secondary"
      title="Transform your brand"
      text="We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through compelling visuals that do most of the marketing for you."
      altText="An egg with a yellow background"
    />
    <Features
      image="image-stand-out"
      color="primary"
      title="Stand out to the right audience"
      text="Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we’ll build and extend your brand in digital places."
      reverse
      altText="A red lamp with a red background"
    />
    <Projects />
    <Testimonials />
    <Gallery />
  </main>
</Layout>
