<footer>
  <article>
    <a class="text-center text-dark-cyan" href="/">sunnyside</a>
    <ul class="nav ">
      <li>
        <a class="text-dark-cyan" href="#">About</a>
      </li>
      <li>
        <a class="text-dark-cyan" href="#">Services</a>
      </li>
      <li>
        <a class="text-dark-cyan" href="#">Projects</a>
      </li>
    </ul>
    <ul class="socials">
      <li>
        <a
          href="https://facebook.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icon-facebook.svg" alt="Facebook" />
        </a>
      </li>
      <li>
        <a
          href="https://instagram.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icon-instagram.svg" alt="instagram" />
        </a>
      </li>
      <li>
        <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
          <img src="/assets/icon-twitter.svg" alt="twitter" />
        </a>
      </li>
      <li>
        <a
          href="https://pinterest.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icon-pinterest.svg" alt="pinterest" />
        </a>
      </li>
    </ul>
  </article>

</footer>
  <div class="attribution">
    
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
            rel="noopener noreferrer">Frontend Mentor</a>.
      Coded by <a href="https://www.minhkhangtran.com/" target="_blank"
            rel="noopener noreferrer">Minh Khang Tran</a>.
    
  </div>

<style>
  @import url("../styles/_media.css");
  footer {
    background-color: #90d4c5;
    display: grid;
    place-items: center;
    padding-block: 3.5rem;
    @media (--md) {
      padding-block: 4rem;
    }
  }
  a {
    cursor: pointer;
    text-decoration: none;
  }
  .attribution{
    text-align: center;
    padding-block: 0.5rem;
    font-size: 0.875rem;
    @media(--sm){
      font-size: 1.125rem;
    }
  }
  .attribution > a{

    
    color: hsl(var(--dark-cyan));
    text-decoration: underline;
  }
  .text-center {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 2.25rem;
    letter-spacing: 3.68px;
    font-weight: 900;
  }
  ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
  }
  .nav {
    gap: 4.5rem;
    padding-top: 1.5rem;
  }
  .nav a {
    transition: all 0.3s ease;
    color: hsl(168 36% 26%);
    &:hover {
      color: hsl(var(--white));
    }
  }
  .socials {
    gap: 1.75rem;
    padding-top: 5.5rem;
  }
</style>
