---
import Navigation from "./Navigation.astro";
const navArray = [
  { id: 1, text: "About", btn: false },
  { id: 2, text: "Services", btn: false },
  { id: 3, text: "Projects", btn: false },
  { id: 4, text: "Contact", btn: true },
];
---

<section aria-label="hero section" id="hero">
  <!-- navbar -->
  <Navigation />

 <div id="main-content" aria-label="main">
    <h1 class="h1 text-white text-center uppercase">We are creatives</h1>
    <div class="d-flex justify-center arrow">
      <a href="#feat">
        <img src="/assets/icon-arrow-down.svg" alt="arrow down" />
      </a>
    </div>
  </div>
</section>

<style>
  @import url("../styles/_media.css");
  #hero {
    min-height: 33.75rem;
    background-image: url("/assets/mobile/image-header.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @media (--sm) {
      min-height: 50rem;
      background-image: url("/assets/desktop/image-header.jpg");
    }
  }
  h1 {
    --pt: 5.5rem;
    padding-top: var(--pt);
    animation: 1s ease hero_animator;
    @media (--md) {
      --pt: 6.375rem;
    }
  }
  .arrow {
    --pt: 3.125rem;
    padding-top: var(--pt);
    animation: 3s infinite alternate animator;

    @media (--md) {
      --pt: 4.5rem;
    }
  }
  @keyframes animator {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(+10%);
    }
  }
  @keyframes hero_animator {
    0% {
      opacity: 0;
      transform: translateY(-10%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
</style>
